:root {
  --background: #62929e;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color: var(--background);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid-container {
  display: grid;
  place-items: center;
  margin-top: 50px;
}

.grid-tree {
  border-radius: 15%;
}

.grid-container2 {
  display: grid;
  margin-left: 50px;
  margin-bottom: 100px;
}

button {
  background-color: black;
  color: white;
  padding: 15px 20px;
  margin-top: 20px;
  font-size: 19px;
  cursor: pointer;
  transition-duration: 0.7s;
  border-radius: 10px;
}

.button-2 {
  background-color: black;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px 15px;
}

button:hover {
  background-color: white;
  color: black;
}
