* {
  box-sizing: border-box;
}

:root {
  --background: #19212a;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color: var(--background);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.grid-container {
  display: grid;
  place-items: center;
}

.grid-tree {
  border-radius: 15%;
}

.grid-container2 {
  display: grid;
  margin-left: 50px;
  width: 350px;
}

button {
  background-color: white;
  color: black;
  padding: 15px 20px;
  margin-top: 20px;
  font-size: 19px;
  cursor: pointer;
  transition-duration: 0.7s;
  border-radius: 10px;
}

.button-2 {
  background-color: white;
  color: black;
  margin-top: 15px;
  padding: 10px 15px;
  cursor: pointer;
  transition-duration: 0.7s;
  border-radius: 10px;
  align-items: center;
}

button:hover {
  background-color: #e4ffb9;
  color: black;
}

.button-2:hover {
  background-color: #e4ffb9;
  color: black;
}
